// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

h3 {
    color: #fff;
    border-bottom: 4px solid #20a2ce;
    padding-top: 20px;
  }

  a, entry-header a:hover {
  text-decoration: none;
}

li, ul {
  list-style-type: none;
  padding: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

/* JUMBOTRON */
.jumbotron {
    background: linear-gradient(to bottom right, #2cb2d9 25%, #34c587 75%);
    background-size: cover;
    background-position: center;
    border: 0;
    margin-bottom: 0;
  }
  .entry-title, .entry-title a {
    text-align: center;
    width: 100%;
    padding: 15px 0 0;
    margin: 0 auto;
    color: #fff;
    text-decoration: none;
  }

  .bio {
    align-items: center;
  }

  .bio img {
    width: 180px;
    max-width: 100%;
    border: 6px solid #f9f6e6;
    border-radius: 50%;
  }

  .bio h3 {
    font-size: 1.4rem;
    line-height: 3rem;
  }

p.lead {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }


  /* SOCIAL */
.navbar {
  border-top: 2px solid white;
  background-color: #f9f6e6;
  margin-bottom: 50px; 
}
div#navbarNavDropdown {
  width: 100%;
}
.navbar-nav {
  flex-direction: row;
  justify-content: space-around;
}
.navbar li {
  margin: 0;
}
#main-menu li {
  margin: 0 0.7em;
}




/* CARDS */
.card {
  background-color: transparent;
  border: 0;
}
// .card h3, p.card-text {
//   color: #fff;
// }
.card h3 {
  border-bottom: 4px solid #20a2ce;  
}
.card h4 {
  font-size: 1.45rem;
  color: #043b4e;
}
.card-body a {
  text-decoration: none;
  margin-left: 8px;
}
.card-text a, .card-text a:hover{
  color: #ddebef;
}

 /* RECENT POSTS */

 .recent a {
   color: $white;
 }

 .recent a:hover {
   color: darken($white, 15%);
 }

/* PROJECTS */
.projects {
  padding: 0 1.25rem;
}

.projects img {
  max-width: 100%;
  border: 8px solid #f9f6e6;
  /* margin-bottom: 2rem; */
}

 /* PORTFOLIO */

 .pg {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 10px 1%; */
  /* min-width: 230px;
  max-width: 315px; */
  max-width: 100%;
  color: white;
  font-weight: normal;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.pg * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.pg img {
  max-width: 100%;
  vertical-align: top;
}

.pg h4 {
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
  color: #212529;
}

.pg a {
  margin: 0;
  font-weight: 600;
  font-size: .9rem;
  color: $white;
}

.pg a:hover {
  color: darken($white, 15%);
  text-decoration: none;
}

//   .projects {
//     padding-top: 1.25rem;
//   }

// }

 /* FOOTER */

#wrapper-footer {
  background-color: #0da2ce;
  text-align: center;
  color: #ffffff;
  padding: 20px 0;
}
.site-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  margin:0;
}
footer img {
  max-height: 30px;
  width: auto;
  margin-right: 7px;
}
footer .brand-name {
  font-family: 'Chopin',Helvetica,Arial,sans-serif;
  color: #ffffff;
  padding: 0;
}

 /* BLOG */

 .navbar-brand {
   width: 100%;
 }


 .post header.entry-header {
  text-align: left;
}

.post .entry-title {
    padding: 0;
    width: 100%;
    text-align: left;
    font-size: 2rem;
}

.entry-meta {
  border-bottom: 4px solid #20a2ce;
  margin-bottom: 10px;
}
.post .posted-on {
  font-size: 1.5rem;
  color: #fff;
}

#index-wrapper .posted-on {
  display: none;
}

#index-wrapper .entry-content {
  margin: 0 0 20px;
}

.entry-content {
  background-color: #fff;
  padding: 20px;
  margin: 20px 0;
}

h3.comments-title {
  font-weight: 500;
}

.comment-body a {
  color: #fff;
  font-weight: normal;
}
.comments-link a {
  color: #fff;
}

time.updated {
  display: none;
}


@media screen and (min-width: 769px){
  .entry-title {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
  }
  .bio img {
    width: 220px;
  }
  .bio h3 {
    font-size: 2rem;
    line-height: 5rem;
  }
  p.lead {
    font-size: 1.7rem;
  }
}