// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

h3 {
    color: #fff;
    font-weight: bold;
    border-bottom: 4px solid #20a2ce;
  }

  a {
  text-decoration: none;
}

.mb-20 {
  margin-bottom: 20px;
}

/* JUMBOTRON */
.jumbotron {
    background: linear-gradient(to bottom right, #2cb2d9 25%, #34c587 75%);
    background-size: cover;
    background-position: center;
    border: 0;
    margin-bottom: 0;
  }
  .entry-title {
    text-align: center;
    width: 100%;
    padding: 15px 0 0;
    margin: 0 auto;
    color: #fff;
  }

  .bio img {
    width: 180px;
    max-width: 100%;
    border: 6px solid #f9f6e6;
    border-radius: 50%;
  }

  .bio h3 {
    font-size: 1.4rem;
    line-height: 3rem;
  }

  .bio p.lead {
    font-size: 1.3rem;
    line-height: 1.7rem;
  }


  /* SOCIAL */

// .navbar {
//   border-top: 2px solid white;
//   background-color: #f9f6e6;
//   margin-bottom: 50px; 
//   padding: 0;
// }
// .navbar ul {
//   padding: 1em;
//   margin: 0;
//   text-align: center;
// }
// .navbar li {
//   display: inline;
//   margin: 0 1.6em;
// }
// .nav-link {
//   padding: 0;
// }

// div#navbarNavDropdown {
//   justify-content: space-around;
// }

/* CARDS */
.card {
  background-color: transparent;
  border: 0;
}
h3 {
  color: #fff;
  font-weight: bold;
  border-bottom: 4px solid #20a2ce;
}
.card-body a {
  text-decoration: none;
  margin-left: 8px;
}
.container p {
  color: #fff;
}
.container a, .container a:hover{
  color: #fff;
}
.container a:hover {
  color: #ddebef;
}

/* PROJECTS */
.projects {
  padding: 0 1.25rem;
}

.projects img {
  max-width: 100%;
  border: 8px solid #f9f6e6;
  /* margin-bottom: 2rem; */
}

 /* PORTFOLIO */

 .pg {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  /* margin: 10px 1%; */
  /* min-width: 230px;
  max-width: 315px; */
  max-width: 100%;
  color: white;
  font-weight: normal;
  text-align: center;
  -webkit-perspective: 50em;
  perspective: 50em;
}
.pg * {
  -webkit-box-sizing: padding-box;
  box-sizing: padding-box;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.pg img {
  max-width: 100%;
  vertical-align: top;
}

.pg h2,
.pg h4 {
  margin: 0;
  font-weight: 600;
  font-size: 0.9rem;
}

.pg a {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  z-index: 1;
}

figcaption .fab {
  display: none;
}

// div#navbarNavDropdown {
//   width: 100%;
// }

// .navbar-nav {
//   display: flex;
//   justify-content: space-around;
//   flex-direction: row;
// }



//   .projects {
//     padding-top: 1.25rem;
//   }

// }
// @media screen and (max-width: 767px){
//   .navbar-nav {
    
//   }
//   .navbar li {
//     margin: 0;
//     flex: 0 0 50%;
//     max-width: 50%;
//     position: relative;
//     min-height: 1px;
//     padding: 6px 15px;
//   }
// }

@media screen and (min-width: 769px){
  .entry-title {
    padding: 20px;
    width: 70%;
    margin: 0 auto;
  }
  .bio img {
    width: 220px;
  }
  .bio h3 {
    font-size: 2rem;
    line-height: 5rem;
  }
  p.lead {
    font-size: 1.7rem;
  }
}